* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    font-weight: 200;
    color: #02060c;
}

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  object-fit: cover;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul, ol {
  list-style: none;
}

/* navigation-bar */

.nav-logo {
    aspect-ratio: 130 / 62;
    width: 100%;
    max-width: 130px;
    position: relative;
    cursor: pointer;
}

.nav-logo::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 1px;
    background-color: #d9dadb;
    right: -13px;
    top: 20px;
}

.nav-logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.nav-location-fly {
    aspect-ratio: 20 / 20;
    max-width: 20px;
    width: 100%;
}

.nav-location-arrow{
    aspect-ratio: 12 / 12;
    max-width: 12px;
    width: 100%;
    transform: rotate(90deg);
}

.search {
    aspect-ratio: 18 / 18;
    max-width: 18px;
    width: 100%;
    position: absolute;
    right: 3%;
    top: 30%;
}

.user {
    max-width: 48px;
    aspect-ratio: 48 / 48;
    width: 100%;
    cursor: pointer;
    flex-shrink: 0;
    margin-top: 7px;
}

.input input[type="text"]{
    width: 100%;
    font-size: 18px;
    padding: 16px;
    text-align: left;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.05px;
    color: rgba(2, 6, 12, 0.45);
    overflow: hidden;
    background-color: rgb(240, 240, 245);
    border: none;
    outline: none;
    border-radius: 12px;
    cursor: pointer;
}

.input{
    position: relative;
    flex: 1;              
    flex: 0 0 496px;   
    margin-left: -5px; 
}

.nav-right, .nav-left {
    display: flex;
    align-items: center;
    gap: 32px;
}

.navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 7px;
    gap: 5rem;
    margin-bottom: 2px;
}

.header-container{
    max-width: 1090px;
    width: 100%;
    margin: auto;
    padding-inline: 10px;
}

.nav-location {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.nav-location p{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.85px;
    color: rgba(2, 6, 12, 0.75);
    overflow: hidden;
    width: 100%;
    overflow-wrap: break-word;
}

header {
    box-shadow: rgba(27, 30, 36, 0.1) 0px 8px 16px 0px;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 1px solid rgba(2, 6, 12, 0.15);
}

/* godwit */

.hero-wrapper{
    padding-top: 120px;
}

.hero-container{
    padding-inline: 10px;
    max-width: 1220px;
    margin: auto;
    width: 100%;
}

.godwit-tabs{
    border-bottom: 1px solid rgba(2, 6, 12, 0.15);
}

.godwit-head h2{
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.8px;
    color: rgba(2, 6, 12, 0.75);
}

.godwit-tabs {
    display: flex;
    padding-top: 25px;
    gap: 30px;
}

.tab span{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.45px;
    color: rgba(2, 6, 12, 0.6);
}

.active-tab {
    position: relative;
    padding-bottom: 12px;
    padding-inline: 8px;
}

.active-tab::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: rgb(255, 82, 0);
    border-radius: 10px 10px 0 0;
}

.active-tab span {
    color: rgba(2, 6, 12, 0.92);
    font-weight: 700;
}

.bg-img {
    aspect-ratio: 1200 / 290;
    /* max-width: 1200px; */
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.godwit-content {
    padding-block: 40px;
    position: relative;
}

.hero-box {
    background-color: #FFF;
    position: absolute;
    top: 75px;
    left: 30px;
    aspect-ratio: 545 / 230;
    max-width: 545px;
    width: 100%;
    padding: 32px 20px 20px 32px;
    border: 1px solid rgba(2, 6, 12, 0.15);
    border-radius: 20px;
}

.hero-row {
    margin-right: -15px;
    margin-left: 15px;
}

.call img {
    aspect-ratio: 24 / 24;
    max-width: 24px;
    width: 100%;
}

.rating-text {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.rating-text span{
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.95px;
    color: rgba(2, 6, 12, 0.92);
    display: inline-block;
}

.food-type{
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.4px;
    color: rgba(2, 6, 12, 0.92);
    margin-bottom: 12px;
}

.location{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.45px;
    color: rgba(2, 6, 12, 0.6);
    display: inline-block;
}

.address{
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 79%;
    white-space: nowrap;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.45px;
    color: rgba(2, 6, 12, 0.92);
}

.hero-text p {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 8px;
}

.open{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.45px;
    color: rgb(27, 166, 114);
}

.time{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -1.2px;
    color: rgba(2, 6, 12, 0.6);
}

.hero-links {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.booking, .call, .direction {
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.4px;
    color: rgb(255, 82, 0);
    display: flex;
    flex: 1 1 0%;
    justify-content: center;
    position: relative;
}

.hero-text {
    border-bottom: 2px solid rgba(2, 6, 12, 0.1);
    outline: none;
}

.booking::after {
    content: "";
    width: 2px;
    height: 22px;
    background-color: rgba(2, 6, 12, 0.1);
    position: absolute;
    left: 105%;
}

.call::after {
    content: "";
    width: 2px;
    height: 22px;
    background-color: rgba(2, 6, 12, 0.1);
    position: absolute;
    left: 95%;
}

.expand {
    background-color: #FFFFFF;
    position: absolute;
    display: flex;
    right: 30px;    
    bottom: 75px;
    padding: 12px 16px;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.expand img{
    aspect-ratio: 16 /16;
    width: 100%;
    max-width: 16px;
}

.expand span{
    font-weight: 800;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: -0.45px;
    color: rgba(2, 6, 12, 0.92);
}

.hr-after-hero{
    border: 2px solid rgba(2, 6, 12, 0.1);
    outline: none;
    margin-right: -15px;
    margin-left: 10px;
}

/* offers */

.main-container{
    padding-inline: 10px;
    max-width: 1220px;
    margin: auto;
    width: 100%;
}

.offer-row{
    padding-block: 32px;
    margin-right: -15px;
    margin-left: 15px;
}

.left-arrow, .right-arrow {
    display: inline-block;
    background: rgba(2, 6, 12, 0.15);
    padding: 8px;
    border-radius: 50%;
}

